body{

  background-color: aqua;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;

}
h1 {
  font-size: 5rem;
  margin: 0;
  margin-bottom: 3rem;
}

.input {
  font-size: 1rem;
  border: 1px solid#333;
  border-radius: .3em;
  height: 2.5em;
  width: 18em;
  padding: .25rem;
}
select {
  font-size: 1rem;
  height: 2.5em;
  width: 15em;
  margin-left: 2rem;
  padding: .25rem;
}
.equals {
  font-weight: bold;
  font-size: 5rem;
}